<%- include("partials/header.ejs") %>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3 class="my-2">Modify Your Todo</h3>
                <% if(todo) { %>
                    <form id="todoUpdateForm">
                        <div class="mb-3">
                            <label class="form-label" for="title">Enter Title:</label>
                            <input class="form-control" type="text" name="title" id="title" value="<%=todo.title%>"
                                placeholder="write something..." />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Enter Description:</label>
                            <textarea class="form-control" name="description" id="description"
                                rows="3"><%=todo.description%></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="completedRadio" id="completedDone"
                                <%=todo.completed ? "checked" : "" %> />
                            <label class="form-check-label" for="completedDone">Mark done</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="completedRadio" id="completedNotDone"
                                <%=todo.completed ? "" : "checked" %>/>
                            <label class="form-check-label" for="completedNotDone">Mark undone</label>
                        </div>
                        <div class="text-center" style="width: 100%;">
                            <input class="btn btn-primary my-3" type="submit" style="width: 50%;" />
                        </div>
                        <hr />
                    </form>
                    <% } else { %>
                        <h1>Not Found</h1>
                        <a href="/todos/add" class="my-1 btn btn-outline-primary">Try adding a new Todo...</a>
                        <% } %>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("todoUpdateForm").addEventListener("submit", function (event) {
            event.preventDefault()

            const title = document.getElementById("title").value
            const description = document.getElementById("description").value
            const completedDone = document.getElementById("completedDone")

            const body = {
                title,
                description,
                completed: completedDone.checked ? true : false
            }

            fetch(
                `/api/v1/todos/${title}`,
                {
                    method: "PUT",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(body)
                }
                )
                .then((response) => response.json())
                .then((data) => alert(data.message))
                .catch((error) => alert(error.toString()))


        })
    </script>


    <%- include("partials/footer.ejs") %>